In [21]:
try:
    spark.stop()
except:
    pass

In [10]:
import findspark

findspark.init()

In [11]:
import pyspark

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

df = spark.read.option("header",True).csv("./FL_insurance_sample.csv")

df.show()
df.printSchema()

+--------+---------+-----------+-------------+-------------+-------------+-------------+---------+----------+------------------+------------------+------------------+------------------+--------------+---------------+-----------+-------------------+-----------------+
|policyID|statecode|     county|eq_site_limit|hu_site_limit|fl_site_limit|fr_site_limit| tiv_2011|  tiv_2012|eq_site_deductible|hu_site_deductible|fl_site_deductible|fr_site_deductible|point_latitude|point_longitude|       line|       construction|point_granularity|
+--------+---------+-----------+-------------+-------------+-------------+-------------+---------+----------+------------------+------------------+------------------+------------------+--------------+---------------+-----------+-------------------+-----------------+
|  119736|       FL|CLAY COUNTY|       498960|       498960|       498960|       498960|   498960|  792148.9|                 0|            9979.2|                 0|                 0|     30.102261|     -81.711777|Residential|            Masonry|                1|
|  448094|       FL|CLAY COUNTY|    1322376.3|    1322376.3|    1322376.3|    1322376.3|1322376.3|1438163.57|                 0|                 0|                 0|                 0|     30.063936|     -81.707664|Residential|            Masonry|                3|
|  206893|       FL|CLAY COUNTY|     190724.4|     190724.4|     190724.4|     190724.4| 190724.4| 192476.78|                 0|                 0|                 0|                 0|     30.089579|     -81.700455|Residential|               Wood|                1|
|  333743|       FL|CLAY COUNTY|            0|     79520.76|            0|            0| 79520.76|  86854.48|                 0|                 0|                 0|                 0|     30.063236|     -81.707703|Residential|               Wood|                3|
|  172534|       FL|CLAY COUNTY|            0|     254281.5|            0|     254281.5| 254281.5| 246144.49|                 0|                 0|                 0|                 0|     30.060614|     -81.702675|Residential|               Wood|                1|
|  785275|       FL|CLAY COUNTY|            0|    515035.62|            0|            0|515035.62| 884419.17|                 0|                 0|                 0|                 0|     30.063236|     -81.707703|Residential|            Masonry|                3|
|  995932|       FL|CLAY COUNTY|            0|     19260000|            0|            0| 19260000|  20610000|                 0|                 0|                 0|                 0|     30.102226|     -81.713882| Commercial|Reinforced Concrete|                1|
|  223488|       FL|CLAY COUNTY|       328500|       328500|       328500|       328500|   328500| 348374.25|                 0|             16425|                 0|                 0|     30.102217|     -81.707146|Residential|               Wood|                1|
|  433512|       FL|CLAY COUNTY|       315000|       315000|       315000|       315000|   315000| 265821.57|                 0|             15750|                 0|                 0|     30.118774|     -81.704613|Residential|               Wood|                1|
|  142071|       FL|CLAY COUNTY|       705600|       705600|       705600|       705600|   705600|1010842.56|             14112|             35280|                 0|                 0|     30.100628|     -81.703751|Residential|            Masonry|                1|
|  253816|       FL|CLAY COUNTY|     831498.3|     831498.3|     831498.3|     831498.3| 831498.3|1117791.48|                 0|                 0|                 0|                 0|      30.10216|     -81.719444|Residential|            Masonry|                1|
|  894922|       FL|CLAY COUNTY|            0|     24059.09|            0|            0| 24059.09|  33952.19|                 0|                 0|                 0|                 0|     30.095957|     -81.695099|Residential|               Wood|                1|
|  422834|       FL|CLAY COUNTY|            0|     48115.94|            0|            0| 48115.94|  66755.39|                 0|                 0|                 0|                 0|     30.100073|     -81.739822|Residential|               Wood|                1|
|  582721|       FL|CLAY COUNTY|            0|     28869.12|            0|            0| 28869.12|  42826.99|                 0|                 0|                 0|                 0|      30.09248|     -81.725167|Residential|               Wood|                1|
|  842700|       FL|CLAY COUNTY|            0|     56135.64|            0|            0| 56135.64|   50656.8|                 0|                 0|                 0|                 0|     30.101356|     -81.726248|Residential|               Wood|                1|
|  874333|       FL|CLAY COUNTY|            0|     48115.94|            0|            0| 48115.94|  67905.07|                 0|                 0|                 0|                 0|     30.113743|     -81.727463|Residential|               Wood|                1|
|  580146|       FL|CLAY COUNTY|            0|     48115.94|            0|            0| 48115.94|   66938.9|                 0|                 0|                 0|                 0|     30.121655|     -81.732391|Residential|               Wood|                3|
|  456149|       FL|CLAY COUNTY|            0|     80192.49|            0|            0| 80192.49|  86421.04|                 0|                 0|                 0|                 0|     30.109537|     -81.741661|Residential|               Wood|                1|
|  767862|       FL|CLAY COUNTY|            0|     48115.94|            0|            0| 48115.94|   73798.5|                 0|                 0|                 0|                 0|      30.11824|     -81.745335|Residential|               Wood|                3|
|  353022|       FL|CLAY COUNTY|            0|     60946.79|            0|            0| 60946.79|  62467.29|                 0|                 0|                 0|                 0|     30.065799|     -81.717416|Residential|               Wood|                1|
+--------+---------+-----------+-------------+-------------+-------------+-------------+---------+----------+------------------+------------------+------------------+------------------+--------------+---------------+-----------+-------------------+-----------------+
only showing top 20 rows

root
 |-- policyID: string (nullable = true)
 |-- statecode: string (nullable = true)
 |-- county: string (nullable = true)
 |-- eq_site_limit: string (nullable = true)
 |-- hu_site_limit: string (nullable = true)
 |-- fl_site_limit: string (nullable = true)
 |-- fr_site_limit: string (nullable = true)
 |-- tiv_2011: string (nullable = true)
 |-- tiv_2012: string (nullable = true)
 |-- eq_site_deductible: string (nullable = true)
 |-- hu_site_deductible: string (nullable = true)
 |-- fl_site_deductible: string (nullable = true)
 |-- fr_site_deductible: string (nullable = true)
 |-- point_latitude: string (nullable = true)
 |-- point_longitude: string (nullable = true)
 |-- line: string (nullable = true)
 |-- construction: string (nullable = true)
 |-- point_granularity: string (nullable = true)

In [12]:
df.select("policyID","statecode","county").show(10)

+--------+---------+-----------+
|policyID|statecode|     county|
+--------+---------+-----------+
|  119736|       FL|CLAY COUNTY|
|  448094|       FL|CLAY COUNTY|
|  206893|       FL|CLAY COUNTY|
|  333743|       FL|CLAY COUNTY|
|  172534|       FL|CLAY COUNTY|
|  785275|       FL|CLAY COUNTY|
|  995932|       FL|CLAY COUNTY|
|  223488|       FL|CLAY COUNTY|
|  433512|       FL|CLAY COUNTY|
|  142071|       FL|CLAY COUNTY|
+--------+---------+-----------+
only showing top 10 rows

In [13]:
valuesA = [('Pirate',1),('Monkey',2),('Ninja',3),('Spaghetti',4)]
TableA = spark.createDataFrame(valuesA,['name','id'])
 
valuesB = [('Rutabaga',1),('Pirate',2),('Ninja',3),('Darth Vader',4)]
TableB = spark.createDataFrame(valuesB,['name','id'])
 
TableA.show()
TableB.show()

+---------+---+
|     name| id|
+---------+---+
|   Pirate|  1|
|   Monkey|  2|
|    Ninja|  3|
|Spaghetti|  4|
+---------+---+

+-----------+---+
|       name| id|
+-----------+---+
|   Rutabaga|  1|
|     Pirate|  2|
|      Ninja|  3|
|Darth Vader|  4|
+-----------+---+

In [14]:
ta = TableA.alias('ta')
tb = TableB.alias('tb')

In [15]:
inner_join = ta.join(tb, ta.name == tb.name)
inner_join.show()

+------+---+------+---+
|  name| id|  name| id|
+------+---+------+---+
| Ninja|  3| Ninja|  3|
|Pirate|  1|Pirate|  2|
+------+---+------+---+

In [16]:
left_join = ta.join(tb, ta.name == tb.name,how='left')
left_join.show()

+---------+---+------+----+
|     name| id|  name|  id|
+---------+---+------+----+
|Spaghetti|  4|  null|null|
|    Ninja|  3| Ninja|   3|
|   Pirate|  1|Pirate|   2|
|   Monkey|  2|  null|null|
+---------+---+------+----+

In [18]:
from pyspark.sql.functions import col
left_join = ta.join(tb, ta.name == tb.name,how='left')
left_join.filter(col('tb.name').isNull()).show()

+---------+---+----+----+
|     name| id|name|  id|
+---------+---+----+----+
|Spaghetti|  4|null|null|
|   Monkey|  2|null|null|
+---------+---+----+----+

In [19]:
right_join = ta.join(tb, ta.name == tb.name,how='right')
right_join.show()

+------+----+-----------+---+
|  name|  id|       name| id|
+------+----+-----------+---+
|  null|null|   Rutabaga|  1|
| Ninja|   3|      Ninja|  3|
|Pirate|   1|     Pirate|  2|
|  null|null|Darth Vader|  4|
+------+----+-----------+---+

In [20]:
full_outer_join = ta.join(tb, ta.name == tb.name,how='full') 
full_outer_join.show()

+---------+----+-----------+----+
|     name|  id|       name|  id|
+---------+----+-----------+----+
|     null|null|   Rutabaga|   1|
|Spaghetti|   4|       null|null|
|    Ninja|   3|      Ninja|   3|
|   Pirate|   1|     Pirate|   2|
|   Monkey|   2|       null|null|
|     null|null|Darth Vader|   4|
+---------+----+-----------+----+